.Texto_cursiva {
	color: rgb(0, 0, 102); font-family: Arial, Helvetica, sans-serif; font-size: 12px; font-style: italic;
}
.Texto_foto {
	font-family: Arial, Helvetica, sans-serif; font-size: 9px;
}
.Texto_rojo {
	color: rgb(255, 0, 0); font-weight: bold;
}
.Titulo_inicial {
	text-align: center; font-family: Arial, Helvetica, sans-serif; font-size: 19px; font-weight: bold;
}
.Titulo_2 {
	font-family: Arial, Helvetica, sans-serif; font-size: 14px; font-weight: bold;
}
.Parrafo {
	text-align: justify; font-family: Arial, Helvetica, sans-serif; font-size: 12px;
}
.Apartados {
	font-family: Arial, Helvetica, sans-serif; font-size: 12px; font-style: italic; font-weight: bold;
}
.Nota {
	text-align: justify; color: rgb(0, 0, 153); font-family: Arial, Helvetica, sans-serif; font-size: 11px;
}
.Info {
	text-align: justify; font-family: Arial, Helvetica, sans-serif; font-size: 10px; font-style: italic;
}
.Archivo {
	text-align: justify; font-family: Courier New; font-size: 12px;
}
.Contacto {
	color: rgb(0, 0, 0); font-family: Arial, Helvetica, sans-serif; font-size: 10px;
}
h3.fn {
	text-indent: -1cm; margin-left: 1cm;
}
span.fn {
	text-indent: -1cm; margin-left: 1cm;
}
a:link {
	color: rgb(0, 79, 175); text-decoration: none;
}
a:visited {
	color: rgb(103, 41, 103); text-decoration: none;
}
a.obsolete:visited {
	color: rgb(153, 85, 0); text-decoration: none;
}
a.compat:visited {
	color: rgb(153, 85, 0); text-decoration: none;
}
tr.address {
	font-family: sans-serif;
}
